/* Utilities */

.l-heading {
    text-align: center;
}

/* Navbar */

#navbar #toggler {
    visibility: visible;
    opacity: 0;
}

#navbar #img-lines {
    visibility: visible;
}

#navbar .logo {
    float: none;
    text-align: right;
    padding-top: 15px;
}

#navbar ul,
#navbar ul li {
    float: none;
    text-align: center;
}

#navbar ul li {
    margin-bottom: 35px;
}

#navbar ul li:first-child a {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#navbar ul li:last-child a {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#navbar ul li:last-child {
    margin-bottom: 5px;
}

#navbar ul li a {
    padding: 0;
}

#navbar ul {
    position: absolute;
    width: 180px;
    border-radius: 10px;
    top: 70px;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transform: translateX(-800px);
    opacity: 0;
    z-index: 10;
}

#navbar ul.show {
    transform: none;
    opacity: 1;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

/* Home Info */

#home-info {
    height: 335px;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
}

/* Features */

.box {
    float: none;
    width: 100%;
}

/* About Info */

#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

/* Contact Us */

#contact-info .box {
    border-bottom: #444 dotted 1px;
}