@import "config";      // 1#
@import "utilities";   // 2#
@import "general";     // 3#

header {
    // background-color: $dark-colour;

    #showcase {
        transition: all;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        // height: 96vh;
        color: #fff;
        text-align: center;

        &-content {
            h1 {
                margin-bottom: 3rem;
                font-size: 4rem;
            }

            p {
                margin-bottom: 3rem;
                font-size: 1.5rem;
            }
        }

        .container {
            position: relative;
            height: 96vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 10;
        }

        // &:before {
        //     content: "";
        //     position: absolute;
        //     background: $dark-gray;
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     width: 100%;
        //     opacity: .6;
        //     z-index: 5;
        // }
    }

    .showcase-overlay {
        position: absolute;
        background: $dark-gray;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 5;

        animation-name: opacityControl;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    @keyframes opacityControl {
        from {opacity: .99;}
        to {opacity: .45;}
    }
}

#home-info {
    height: 350px;
    display: flex;

    .info {
        &-img {
            height: 100%;
            width: 50%;
        }

        &-content {
            background: $dark-gray;
            color: #fff;
            height: 100%;
            width: 50%;
            text-align: center;
            padding: 4.5rem 1rem 0 1rem;
            // padding-top: 4.5rem;

            h2 {
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 2rem;
            }
        }
    }


}

#features {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    
    .box {
        text-align: center;
        padding: 3rem 1rem;

        h3 {
            margin-bottom: 2rem;
        }
    }
}


